<form class="ikrpg sheet actor sheet-ikrpg" autocomplete="off">
    <div class="sheet-container">

        <div class="character-name-container">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"
                   class="character-name"/>
        </div>

        <header class="sheet-header">
            <div class="flexrow header-flex">

                <img class="img-profile" id="img-profile" src="{{actor.img}}" data-edit="img" alt="character portrait"/>


                    <div class="hp-bar">
                        <label class="hp-group">
                            <button type="button" class="hp-minus hp-button">-</button>
                            <label class="hp-label">
                                HP
                                <input type="number" name="system.hp.value" value="{{system.hp.value}}"/>
                            </label>
                            <button type="button" class="hp-plus hp-button">+</button>
                        </label>
                        <label class="hp-label">
                            Max
                            <input type="number" name="system.hp.max" value="{{system.hp.max}}" disabled/>
                        </label>
                    </div>

            </div>


            <div class="info-block">
                <h2>Informações</h2>
                <div class="flexrow">
                    <div><label>Jogador:<input type="text" name="system.player" value="{{system.player}}"/></label>
                    </div>
                    <div><label>Arquetipo:<input type="text" name="system.archetype"
                                                 value="{{system.archetype}}"/></label>
                    </div>
                    <div><label>Raça:<input type="text" name="system.race" value="{{system.race}}"/></label></div>
                    <div><label>Carreiras:<input type="text" name="system.careers" value="{{system.careers}}"/></label>
                    </div>
                </div>
                <div class="flexrow">
                    <div><label>Altura:<input type="text" name="system.height" value="{{system.height}}"/></label></div>
                    <div><label>Peso:<input type="text" name="system.weight" value="{{system.weight}}"/></label></div>
                    <div><label>Sexo:<input type="text" name="system.sex" value="{{system.sex}}"/></label></div>
                    <div><label>Fé:<input type="text" name="system.faith" value="{{system.faith}}"/></label></div>
                </div>
            </div>
        </header>

        <nav aria-label="inventory-menu" class="sheet-item-tabs tabs" data-group="inventory">
            <a class="nav-item" data-tab="weapons">Armas</a>
            <a class="nav-item" data-tab="equipment">Equipamentos</a>
        </nav>
        <section class="sheet-items tabbed-area" style="flex: 1 1 auto; overflow-y: auto;">
            <div class="tab" data-group="inventory" data-tab="weapons">
                <table class="item-table">
                    <thead>
                    <tr>
                        <th class="col-name">Nome</th>
                        <th>Perícia</th>
                        <th>Tags</th>
                        <th class="col-pow">POW</th>
                        <th class="col-mod">Mod.</th>
                        <th class="col-item-roll">🎲</th>
                        <th class="col-manage">⚙️</th>                    </tr>
                    </thead>
                    <tbody>
                    {{#each items as |item|}}
                    {{#if (eq item.type "meleeWeapon")}}
                    <tr class="item text-center" data-item-id="{{item._id}}">
                        <td>{{item.name}}</td>
                        <td>{{item.system.skill}}</td>
                        <td>
                            <div class="tags-container">
                                {{#each item.system.tags}}
                                <span class="tag">{{this}}</span>
                                {{/each}}
                            </div>
                        </td>
                        <td>{{item.system.pow}}</td>
                        <td>{{item.system.attackMod}}</td>
                        <td>
                            <button class="item-roll dice-button">🎲</button>
                        </td>
                        <td class="action-buttons">
                            <div class="button-group">
                                <button class="item-edit edit-button">✎</button>
                                <button class="item-delete trash-button">🗑️</button>
                            </div>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="meleeWeapon" title="Nova Arma Melee">➕🗡️
                    </button>
                </div>


                <table class="item-table">
                    <thead>
                    <tr>
                        <th class="col-name">Nome</th>
                        <th>Perícia</th>
                        <th>Tags</th>
                        <th>Alcance</th>
                        <th class="col-pow">POW</th>
                        <th class="col-item-roll">🎲</th>
                        <th class="col-manage">⚙️</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each items as |item|}}
                    {{#if (eq item.type "rangedWeapon")}}
                    <tr class="item text-center" data-item-id="{{item._id}}">
                        <td>{{item.name}}</td>
                        <td>{{item.system.skill}}</td>
                        <td style="text-align: center;">
                            {{#each item.system.tags}}
                            <span class="tag">{{this}}</span>
                            {{/each}}
                        </td>
                        <td>{{item.system.effectiveRange}}</td>
                        <td>{{item.system.pow}}</td>
                        <td>
                            <button class="item-roll dice-button">🎲</button>
                        </td>
                        <td class="action-buttons">
                            <div class="button-group">
                                <button class="item-edit edit-button">✎</button>
                                <button class="item-delete trash-button">🗑️</button>
                            </div>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="rangedWeapon" title="Nova Arma Ranged">➕🏹
                    </button>
                </div>

            </div>
            <div class="tab" data-group="inventory" data-tab="equipment">
                <table class="item-table">
                    <thead>
                    <tr>
                        <th class="col-name">Nome</th>
                        <th>Equipada</th>
                        <th>ARM</th>
                        <th>DEF</th>
                        <th>SPD</th>
                        <th class="col-manage">⚙️</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each items as |item|}}
                    {{#if (eq item.type "armor")}}
                    <tr class="item text-center" data-item-id="{{item._id}}">
                        <td>{{item.name}}</td>
                        <td>
                            {{#if item.system.isEquipped}}
                            ✅
                            {{else}}
                            ⚪
                            {{/if}}
                        </td>
                        <td>{{item.system.armorBonus}}</td>
                        <td>{{item.system.defPenalty}}</td>
                        <td>{{item.system.spdPenalty}}</td>
                        <td class="action-buttons">
                            <div class="button-group">
                                <button class="item-edit edit-button">✎</button>
                                <button class="item-delete trash-button">🗑️</button>
                            </div>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="armor" title="Nova Armadura">➕🛡️
                    </button>
                </div>
                <table class="item-table">
                    <thead>
                    <tr>
                        <th class="col-name">Nome</th>
                        <th class="col-manage">⚙️</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each items as |item|}}
                    {{#if (eq item.type "equipment")}}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td>{{item.name}}</td>
                        <td class="action-buttons">
                            <div class="button-group">
                                <button class="item-edit edit-button">✎</button>
                                <button class="item-delete trash-button">🗑️</button>
                            </div>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="equipment" title="Novo Equipamento">➕📦
                    </button>
                </div>

            </div>
        </section>

        <nav aria-label="primary-menu" class="sheet-primary-tabs tabs" data-group="primary">
            <a class="nav-item" data-tab="attributes">Atributos</a>
            <a class="nav-item" data-tab="occupationalSkills">Perícias</a>
        </nav>
        <section class="sheet-body tabbed-area" style="flex: 1 1 auto; overflow-y: auto;">
            <div style="max-height: 400px; min-height: 400px; ">

                <div class="tab" data-group="primary" data-tab="attributes">
                    <div class="flexrow" style="gap: 2rem; align-items: flex-start;">

                        <div class="attribute-block" style="flex: 1;">
                            <h3>Principal</h3>
                            <div class="grid attributes"
                                 style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                                {{#each system.mainAttributes as |value key|}}
                                <div class="attribute">
                                    <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                        <input type="number" id="main-{{key}}" name="system.mainAttributes.{{key}}"
                                               value="{{value}}"/>
                                    </label>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="attribute-block" style="flex: 1;">
                            <h3>Secundarios</h3>
                            <div class="grid attributes"
                                 style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                                {{#each system.secondaryAttributes as |value key|}}
                                <div class="attribute">
                                    <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                        <input type="number" name="system.secondaryAttributes.{{key}}"
                                               value="{{value}}"/>
                                    </label>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="attribute-block" style="flex: 1;">
                            <h3>Derivados</h3>
                            <div class="grid attributes"
                                 style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                                {{#each system.derivedAttributes as |value key|}}
                                <div class="attribute">
                                    <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                        <input type="number" name="system.derivedAttributes.{{key}}" value="{{value}}"
                                               disabled/>
                                    </label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="additional-fields">
                            <div class="additional-field">
                                <label for="system.featPoints" class="big-label">Feat Points:</label>
                                <input type="number" name="system.featPoints" value="{{system.featPoints}}" min="0"
                                       class="big-input"/>
                            </div>
                            <div class="additional-field">
                                <label for="system.gold" class="big-label">Gold:</label>
                                <input type="number" name="system.gold" value="{{system.gold}}" min="0"
                                       class="big-input"/>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab" data-group="primary" data-tab="occupationalSkills">
                    <div class="skills-wrapper">
                        <table class="skills-table">
                            <thead>
                            <tr>
                                <th class="col-name">Nome</th>
                                <th class="col-attr">Atributo</th>
                                <th class="col-lvl">Lvl</th>
                                <th class="col-skill-roll">🎲</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each system.occupationalSkills}}
                            <tr>
                                <td>
                                    {{this.name}}
                                    <input type="hidden" name="system.occupationalSkills.{{@index}}.name"
                                           value="{{this.name}}"/>
                                </td>

                                <td>
                                    <select name="system.occupationalSkills.{{@index}}.attr" class="skill-select">
                                        <option value="SOC" {{#if (eq
                                        "SOC" this.attr)}}selected{{/if}}>--</option>

                                        {{#each ../system.mainAttributes as |val attrKey|}}
                                        <option value="{{attrKey}}" {{#if (eq attrKey ..
                                        /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                        {{/each}}

                                        {{#each ../system.secondaryAttributes as |val attrKey|}}
                                        <option value="{{attrKey}}" {{#if (eq attrKey ..
                                        /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                        {{/each}}
                                    </select>
                                </td>

                                <td class="text-center">
                                    <input type="number" name="system.occupationalSkills.{{@index}}.level"
                                           value="{{this.level}}"
                                           min="0"/>
                                </td>

                                <td class="text-center">
                                    <button type="button" class="roll-skill dice-button" data-idx="{{@index}}">🎲
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                        <table class="skills-table">
                            <thead>
                            <tr>
                                <th class="col-name">Nome</th>
                                <th class="col-attr">Atributo</th>
                                <th class="col-lvl">Lvl</th>
                                <th class="col-skill-roll">🎲</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each system.militarySkills}}
                            <tr>
                                <td>
                                    {{this.name}}
                                    <input type="hidden" name="system.militarySkills.{{@index}}.name"
                                           value="{{this.name}}"/>
                                </td>
                                <td>
                                    <select name="system.militarySkills.{{@index}}.attr" class="skill-select">
                                        {{#each ../system.mainAttributes as |val attrKey|}}
                                        <option value="{{attrKey}}" {{#if (eq attrKey ..
                                        /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                        {{/each}}
                                        {{#each ../system.secondaryAttributes as |val attrKey|}}
                                        <option value="{{attrKey}}" {{#if (eq attrKey ..
                                        /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td class="text-center">
                                    <input type="number" name="system.militarySkills.{{@index}}.level"
                                           value="{{this.level}}"
                                           min="0"/>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="roll-military-skill dice-button" data-idx="{{@index}}">
                                        🎲
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>