<form class="ikrpg sheet actor" autocomplete="off" style="min-width: 600px; min-height: 400px;">

    <header class="sheet-header">

        <div class="flexrow" style="align-items: center; gap: 1rem; padding: 0.5rem;">

            <!-- Imagem do personagem -->
            <div class="profile-img">
                <img src="{{actor.img}}" data-edit="img" alt="character portrait"
                     style="width: 128px; height: 128px; object-fit: cover; border-radius: 8px;"/>
            </div>

            <!-- Nome e HP -->
            <div class="name-hp" style="width: fit-content;">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"
                       style="text-align:center; font-size:1.5rem; width:100%; margin-bottom: 0.5rem;"/>

                <div class="flexrow" style="width: fit-content; gap: 0.5rem; align-items: center; flex-wrap: nowrap;">

                    <button type="button" class="hp-minus" style="width: 5px; height: 30px;">-</button>
                    <label>
                        HP
                        <input type="number" name="system.hp.value" value="{{system.hp.value}}" style="width: 8ch;"/>
                    </label>
                    <button type="button" class="hp-plus" style="width: 5px; height: 30px;">+</button>
                    <label>
                        Max
                        <input type="number" name="system.hp.max" value="{{system.hp.max}}" disabled
                               style="width: 8ch;"/>
                    </label>
                </div>
            </div>

        </div>


        <div class="info-block" style="padding: 0.5rem;">
            <h2>Informações</h2>
            <div class="flexrow">
                <div><label>Jogador:<input type="text" name="system.player" value="{{system.player}}"/></label></div>
                <div><label>Arquetipo:<input type="text" name="system.archetype" value="{{system.archetype}}"/></label>
                </div>
                <div><label>Raça:<input type="text" name="system.race" value="{{system.race}}"/></label></div>
                <div><label>Carreiras:<input type="text" name="system.careers" value="{{system.careers}}"/></label>
                </div>
            </div>
            <div class="flexrow">
                <div><label>Altura:<input type="text" name="system.height" value="{{system.height}}"/></label></div>
                <div><label>Peso:<input type="text" name="system.weight" value="{{system.weight}}"/></label></div>
                <div><label>Sexo:<input type="text" name="system.sex" value="{{system.sex}}"/></label></div>
                <div><label>Fé:<input type="text" name="system.faith" value="{{system.faith}}"/></label></div>
            </div>
        </div>
    </header>

    <section class="sheet-items" style="flex: 1 1 auto; overflow-y: auto;">

        <h3>Inventário</h3>

        <nav aria-label="inventory-menu" class="sheet-item-tabs tabs" data-group="inventory">
            <a class="item" data-tab="melee">Corpo a Corpo</a>
            <a class="item" data-tab="ranged">À Distância</a>
            <a class="item" data-tab="armor">Armaduras</a>
            <a class="item" data-tab="equipment">Equipamentos</a>
        </nav>
        <div class="tab" data-group="inventory" data-tab="melee">

            <table class="item-table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>POW</th>
                    <th>Perícia</th>
                    <th>Mod.</th>
                    <th>🎲</th>
                    <th>✎</th>
                    <th>🗑</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "meleeWeapon")}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td style="text-align: center;">{{item.system.pow}}</td>
                    <td style="text-align: center;">{{item.system.skill}}</td>
                    <td style="text-align: center;">{{item.system.attackMod}}</td>
                    <td style="text-align: center;">
                        <button class="item-roll">🎲</button>
                    </td>
                    <td style="text-align: center;">
                        <button class="item-edit">✎</button>
                    </td>
                    <td style="text-align: center;">
                        <button class="item-delete">🗑️</button>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div style="display: flex; align-items: center; gap: 1rem; margin-bottom: 0.5rem;">
                <button class="item-create" data-type="meleeWeapon" title="Nova Arma Melee"
                        style="flex: 0 0 auto; width: auto; padding: 0.25rem 0.5rem;">➕🗡️
                </button>
            </div>
        </div>
        <div class="tab" data-group="inventory" data-tab="ranged">

            <table class="item-table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>POW</th>
                    <th>Alcance</th>
                    <th>Perícia</th>
                    <th>🎲</th>
                    <th>✎</th>
                    <th>🗑</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "rangedWeapon")}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td style="text-align: center;">{{item.system.pow}}</td>
                    <td style="text-align: center;">{{item.system.effectiveRange}}</td>
                    <td style="text-align: center;">{{item.system.skill}}</td>
                    <td style="text-align: center;">
                        <button class="item-roll">🎲</button>
                    </td>
                    <td style="text-align: center;">
                        <button class="item-edit">✎</button>
                    </td>
                    <td style="text-align: center;">
                        <button class="item-delete">🗑️</button>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div style="display: flex; align-items: center; gap: 1rem; margin-bottom: 0.5rem;">
                <button class="item-create" data-type="rangedWeapon" title="Nova Arma Ranged"
                        style="flex: 0 0 auto; width: auto; padding: 0.25rem 0.5rem;">➕🏹
                </button>
            </div>

        </div>
        <div class="tab" data-group="inventory" data-tab="armor">

            <table class="item-table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Bônus ARM</th>
                    <th>Penalidade</th>
                    <th>✎</th>
                    <th>🗑</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "armor")}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td style="text-align: center;">{{item.system.armorBonus}}</td>
                    <td style="text-align: center;">{{item.system.penalty}}</td>
                    <td style="text-align: center;">
                        <button class="item-edit">✎</button>
                    </td>
                    <td style="text-align: center;">
                        <button class="item-delete">🗑️</button>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div style="display: flex; align-items: center; gap: 1rem; margin-bottom: 0.5rem;">
                <button class="item-create" data-type="armor" title="Nova Armadura"
                        style="flex: 0 0 auto; width: auto; padding: 0.25rem 0.5rem;">➕🛡️
                </button>
            </div>

        </div>
        <div class="tab" data-group="inventory" data-tab="equipment">
            <table class="item-table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>✎</th>
                    <th>🗑</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "equipment")}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td style="text-align: center;">
                        <button class="item-edit">✎</button>
                    </td>
                    <td style="text-align: center;">
                        <button class="item-delete">🗑️</button>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div style="display: flex; align-items: center; gap: 1rem; margin-bottom: 0.5rem;">
                <button class="item-create" data-type="equipment" title="Novo Equipamento"
                        style="flex: 0 0 auto; width: auto; padding: 0.25rem 0.5rem;">➕📦
                </button>
            </div>

        </div>

    </section>
    <section class="sheet-body" style="flex: 1 1 auto; overflow-y: auto;">
        <nav aria-label="primary-menu" class="sheet-primary-tabs tabs" data-group="primary">
            <a class="item" data-tab="attributes">Atributos</a>
            <a class="item" data-tab="occupationalSkills">Perícias Ocupacionais</a>
            <a class="item" data-tab="militarySkills">Perícias Militares</a>

        </nav>
        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="flexrow" style="gap: 2rem; align-items: flex-start;">

                <!-- Coluna da esquerda: Main Attributes -->
                <div class="attribute-block" style="flex: 1;">
                    <h3>Principal</h3>
                    <div class="grid attributes"
                         style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                        {{#each system.mainAttributes as |value key|}}
                        <div class="attribute">
                            <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                <input type="number" name="system.mainAttributes.{{key}}" value="{{value}}"/>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <!-- Coluna da direita: Secondary Attributes -->
                <div class="attribute-block" style="flex: 1;">
                    <h3>Secundarios</h3>
                    <div class="grid attributes"
                         style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                        {{#each system.secondaryAttributes as |value key|}}
                        <div class="attribute">
                            <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                <input type="number" name="system.secondaryAttributes.{{key}}" value="{{value}}"/>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <!-- Outra Coluna : derived Attributes -->
                <div class="attribute-block" style="flex: 1;">
                    <h3>Derivados</h3>
                    <div class="grid attributes"
                         style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                        {{#each system.derivedAttributes as |value key|}}
                        <div class="attribute">
                            <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                <input type="number" name="system.derivedAttributes.{{key}}" value="{{value}}"
                                       disabled/>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="occupationalSkills">
            <table class="skills-table">
                <thead>
                <tr>
                    <th style="width: auto; padding: 0.5rem;">Nome</th>
                    <th style="width: 8ch; padding: 0.5rem">Atributo</th>
                    <th style="width: 4ch; padding: 0.5rem">Nível</th>
                    <th style="width: 30px; padding: 0.5rem">Rolar</th>
                </tr>
                </thead>
                <tbody>
                {{#each system.occupationalSkills}}
                <tr>
                    <td>
                        {{this.name}}
                        <input type="hidden" name="system.occupationalSkills.{{@index}}.name" value="{{this.name}}"/>
                    </td>

                    <td>
                        <select name="system.occupationalSkills.{{@index}}.attr" style="width: 100%;">
                            <option value="SOC" {{#if (eq
                            "SOC" this.attr)}}selected{{/if}}>--</option>

                            {{#each ../system.mainAttributes as |val attrKey|}}
                            <option value="{{attrKey}}" {{#if (eq attrKey ..
                            /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                            {{/each}}

                            {{#each ../system.secondaryAttributes as |val attrKey|}}
                            <option value="{{attrKey}}" {{#if (eq attrKey ..
                            /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                            {{/each}}
                        </select>
                    </td>

                    <td style="text-align: center;">
                        <input type="number" name="system.occupationalSkills.{{@index}}.level" value="{{this.level}}"
                               min="0"
                               style="width: 3ch; text-align: center;"/>
                    </td>

                    <td style="text-align: center;">
                        <button type="button" class="roll-skill" data-idx="{{@index}}">🎲</button>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div class="tab" data-group="primary" data-tab="militarySkills">
            <table class="skills-table">
                <thead>
                <tr>
                    <th style="width: auto; padding: 0.5rem;">Nome</th>
                    <th style="width: 8ch; padding: 0.5rem">Atributo</th>
                    <th style="width: 4ch; padding: 0.5rem">Nível</th>
                    <th style="width: 30px; padding: 0.5rem">Rolar</th>
                </tr>
                </thead>
                <tbody>
                {{#each system.militarySkills}}
                <tr>
                    <td>
                        {{this.name}}
                        <input type="hidden" name="system.militarySkills.{{@index}}.name" value="{{this.name}}"/>
                    </td>
                    <td>
                        <select name="system.militarySkills.{{@index}}.attr" style="width: 100%;">
                            {{#each ../system.mainAttributes as |val attrKey|}}
                            <option value="{{attrKey}}" {{#if (eq attrKey ..
                            /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                            {{/each}}
                            {{#each ../system.secondaryAttributes as |val attrKey|}}
                            <option value="{{attrKey}}" {{#if (eq attrKey ..
                            /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <input type="number" name="system.militarySkills.{{@index}}.level" value="{{this.level}}"
                               min="0"
                               style="width: 3ch; text-align: center;"/>
                    </td>
                    <td style="text-align: center;">
                        <button type="button" class="roll-military-skill" data-idx="{{@index}}">🎲</button>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </section>

</form>