<form class="ikrpg sheet actor steamjack-sheet" autocomplete="off">
    <div class="sheet-container">

        <!-- Nome e Imagem -->
        <div class="character-name-container">
            <label>STEAMJACK
                <input name="name" type="text" value="{{actor.name}}" placeholder="Steamjack" class="character-name"/>
            </label>
        </div>

        <div class="flexrow header-flex card">
            <img class="img-profile" id="img-profile" src="{{actor.img}}" data-edit="img" alt="steamjack portrait"/>

                <div class="chassis-radial">
                    <div class="hp-bar">
                        <label class="hp-group">
                            <button type="button" class="hp-minus hp-button">-</button>
                            <label class="hp-label v-align">
                                HP
                                <input type="number" name="system.hp.value" value="{{system.hp.value}}"/>
                            </label>
                            <button type="button" class="hp-plus hp-button">+</button>
                        </label>
                        <label class="hp-label v-align">
                            Max
                            <input type="number" name="system.hp.max" value="{{system.hp.max}}" disabled/>
                        </label>
                    </div>
                    <div class="chassis-radial">
                        <label>
                            <strong>Tipo de Chassi:</strong><br/>
                            <label><input type="radio" name="system.chassisSize" value="light" {{#if (eq
                                          system.chassisSize
                                "light")}}checked{{/if}}> Leve</label>
                            <label><input type="radio" name="system.chassisSize" value="heavy" {{#if (eq
                                          system.chassisSize
                                "heavy")}}checked{{/if}}> Pesado</label>
                        </label>
                    </div>
                </div>

                <div class="info-block">
                    <h2>Informações</h2>
                    <div>
                        <div class="info-attribute"><label>Chassi:<input type="text" name="system.chassis"
                                                                         value="{{system.chassis}}"/></label></div>
                        <div class="info-attribute"><label>Cortex:<input type="text" name="system.cortex"
                                                                         value="{{system.cortex}}"/></label></div>
                        <div class="info-attribute"><label>Imprint:<input type="text" name="system.imprint"
                                                                          value="{{system.imprint}}"/></label></div>
                        <div class="info-attribute">
                            <label>Altura:<input type="text" name="system.height" value="{{system.height}}"/></label>
                            <label>Peso:<input type="text" name="system.weight" value="{{system.weight}}"/></label>
                        </div>
                    </div>
                </div>
        </div>
        <div class="tab card">
            <table class="item-table">
                <thead>
                <tr>
                    <th class="col-name">Nome</th>
                    <th>Perícia</th>
                    <th>Tags</th>
                    <th class="col-pow">POW</th>
                    <th class="col-mod">Mod.</th>
                    <th class="col-item-roll">🎲</th>
                    <th class="col-manage">⚙️</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "meleeWeapon")}}
                <tr class="item text-center" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.system.skill}}</td>
                    <td>
                        <div class="tags-container">
                            {{#each item.system.tags}}
                            <span class="tag">{{this}}</span>
                            {{/each}}
                        </div>
                    </td>
                    <td>{{item.system.pow}}</td>
                    <td>{{item.system.attackMod}}</td>
                    <td>
                        <button class="item-roll dice-button">🎲</button>
                    </td>
                    <td class="action-buttons">
                        <div class="button-group">
                            <button class="item-edit edit-button">✎</button>
                            <button class="item-delete trash-button">🗑️</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div class="add-item">
                <button class="item-create" data-type="meleeWeapon" title="Nova Arma Melee">➕🗡️
                </button>
            </div>


            <table class="item-table">
                <thead>
                <tr>
                    <th class="col-name">Nome</th>
                    <th>Perícia</th>
                    <th>Tags</th>
                    <th>Alcance</th>
                    <th class="col-pow">POW</th>
                    <th class="col-item-roll">🎲</th>
                    <th class="col-manage">⚙️</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "rangedWeapon")}}
                <tr class="item text-center" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.system.skill}}</td>
                    <td class="text-center">
                        {{#each item.system.tags}}
                        <span class="tag">{{this}}</span>
                        {{/each}}
                    </td>
                    <td>{{item.system.effectiveRange}}</td>
                    <td>{{item.system.pow}}</td>
                    <td>
                        <button class="item-roll dice-button">🎲</button>
                    </td>
                    <td class="action-buttons">
                        <div class="button-group">
                            <button class="item-edit edit-button">✎</button>
                            <button class="item-delete trash-button">🗑️</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div class="add-item">
                <button class="item-create" data-type="rangedWeapon" title="Nova Arma Ranged">➕🏹
                </button>
            </div>

        </div>

        <!-- Atributos -->

        <section class="sheet-body tabbed-area card">
            <div class="fixed-height-400">

                <div class="flexrow">

                    <div class="attribute-block">
                        <h3>Principal</h3>
                        <div class="grid-2cols">
                            {{#each system.mainAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}">{{key}}
                                    <input type="number" id="main-{{key}}" name="system.mainAttributes.{{key}}"
                                           value="{{value}}"/>
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="attribute-block">
                        <h3>Secundarios</h3>
                        <div class="grid-2cols">
                            {{#each system.secondaryAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}">{{key}}
                                    <input type="number" name="system.secondaryAttributes.{{key}}"
                                           value="{{value}}"/>
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="attribute-block">
                        <h3>Derivados</h3>
                        <div class="grid-2cols">
                            {{#each system.derivedAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}">{{key}}
                                    <input type="number" name="system.derivedAttributes.{{key}}" value="{{value}}"/>
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</form>
