<form class="ikrpg sheet actor steamjack-sheet" autocomplete="off">
    <div class="sheet-container">

        <!-- Nome e Imagem -->
        <div class="character-name-container">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"
                   class="character-name"/>
        </div>

        <div class="flexrow header-flex">
            <img class="img-profile" id="img-profile" src="{{actor.img}}" data-edit="img" alt="steamjack portrait"/>

            <div class="flexrow">
                <div class="hp-bar">
                    <label class="hp-group">
                        <button type="button" class="hp-minus hp-button">-</button>
                        <label class="hp-label">
                            HP
                            <input type="number" name="system.hp.value" value="{{system.hp.value}}"/>
                        </label>
                        <button type="button" class="hp-plus hp-button">+</button>
                    </label>
                    <label class="hp-label">
                        Max
                        <input type="number" name="system.hp.max" value="{{system.hp.max}}" disabled/>
                    </label>
                </div>
                <label>
                    <strong>Tipo de Chassi:</strong><br/>
                    <label><input type="radio" name="system.chassisSize" value="light" {{#if (eq system.chassisSize
                        "light")}}checked{{/if}}> Leve</label>
                    <label><input type="radio" name="system.chassisSize" value="heavy" {{#if (eq system.chassisSize
                        "heavy")}}checked{{/if}}> Pesado</label>
                </label>
            </div>

            <div class="info-block">
                <h2>Informações</h2>
                <div class="flexrow">
                    <div class="attribute"><label>Chassi:<input type="text" name="system.chassis"
                                                                value="{{system.chassis}}"/></label></div>
                    <div class="attribute"><label>Altura:<input type="text" name="system.height"
                                                                value="{{system.height}}"/></label></div>
                    <div class="attribute"><label>Peso:<input type="text" name="system.weight"
                                                              value="{{system.weight}}"/></label></div>
                </div>
            </div>
        </div>

        <div class="tab">
            <table class="item-table">
                <thead>
                <tr>
                    <th class="col-name">Nome</th>
                    <th>Perícia</th>
                    <th>Tags</th>
                    <th class="col-pow">POW</th>
                    <th class="col-mod">Mod.</th>
                    <th class="col-item-roll">🎲</th>
                    <th class="col-manage">⚙️</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "meleeWeapon")}}
                <tr class="item text-center" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.system.skill}}</td>
                    <td>
                        <div class="tags-container">
                            {{#each item.system.tags}}
                            <span class="tag">{{this}}</span>
                            {{/each}}
                        </div>
                    </td>
                    <td>{{item.system.pow}}</td>
                    <td>{{item.system.attackMod}}</td>
                    <td>
                        <button class="item-roll dice-button">🎲</button>
                    </td>
                    <td class="action-buttons">
                        <div class="button-group">
                            <button class="item-edit edit-button">✎</button>
                            <button class="item-delete trash-button">🗑️</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div class="add-item">
                <button class="item-create" data-type="meleeWeapon" title="Nova Arma Melee">➕🗡️
                </button>
            </div>


            <table class="item-table">
                <thead>
                <tr>
                    <th class="col-name">Nome</th>
                    <th>Perícia</th>
                    <th>Tags</th>
                    <th>Alcance</th>
                    <th class="col-pow">POW</th>
                    <th class="col-item-roll">🎲</th>
                    <th class="col-manage">⚙️</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "rangedWeapon")}}
                <tr class="item text-center" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.system.skill}}</td>
                    <td style="text-align: center;">
                        {{#each item.system.tags}}
                        <span class="tag">{{this}}</span>
                        {{/each}}
                    </td>
                    <td>{{item.system.effectiveRange}}</td>
                    <td>{{item.system.pow}}</td>
                    <td>
                        <button class="item-roll dice-button">🎲</button>
                    </td>
                    <td class="action-buttons">
                        <div class="button-group">
                            <button class="item-edit edit-button">✎</button>
                            <button class="item-delete trash-button">🗑️</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div class="add-item">
                <button class="item-create" data-type="rangedWeapon" title="Nova Arma Ranged">➕🏹
                </button>
            </div>

        </div>

        <!-- Atributos -->

        <section class="sheet-body tabbed-area" style="flex: 1 1 auto; overflow-y: auto;">
            <div style="max-height: 400px; min-height: 400px; ">

                <div class="flexrow" style="gap: 2rem; align-items: flex-start;">

                    <div class="attribute-block" style="flex: 1;">
                        <h3>Principal</h3>
                        <div class="grid attributes"
                             style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                            {{#each system.mainAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                    <input type="number" id="main-{{key}}" name="system.mainAttributes.{{key}}"
                                           value="{{value}}"/>
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="attribute-block" style="flex: 1;">
                        <h3>Secundarios</h3>
                        <div class="grid attributes"
                             style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                            {{#each system.secondaryAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                    <input type="number" name="system.secondaryAttributes.{{key}}"
                                           value="{{value}}"/>
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="attribute-block" style="flex: 1;">
                        <h3>Derivados</h3>
                        <div class="grid attributes"
                             style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                            {{#each system.derivedAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}" style="cursor:pointer;">{{key}}
                                    <input type="number" name="system.derivedAttributes.{{key}}" value="{{value}}"/>
                                </label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</form>
